@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* override the react calandar styling */
.react-calendar {
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
    font-weight: 600;
}

.react-calendar__tile--active {
    background-color: #c3ebfa !important;
    color: black !important;
}

.fc-toolbar-chunk:first-child{
    display: none;
}

.fc-toolbar-chunk:nth-child(2){
    font-size: 13px;
}


.fc-toolbar-chunk:last-child{
    font-size: 13px;
}

.fc-toolbar-chunk:last-child button{
    border: none !important;
    background-color: #f1f0ff;
    color: black;
    margin-left: 2px;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #dbdafe;
    color: black;
}